<header>
    <div  class="inner">
        <div class="top">
            <div class="logo_contain">
                <a class="logo" href="http://127.0.0.1:8000/">
                    et cetera
                </a>
            </div>
            <div class="main_title">
                <div class="inner_submenu_right"><a href="#">Log in</a> or <a href="#">SIGN-UP</a></div>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <div class="search_bar">
                            <input type="search"  class="form-control"></div>

                        <div class="right_font"><button type="button"
                                                        class="search material-symbols-outlined">search</button></div>

                    </li>
                    <li>
                        <a href="http://www.naver.com">
                                <span class="material-symbols-outlined">shopping_cart
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.naver.com">
                                <span class="material-symbols-outlined">person
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn"><a href="#">LIVING</a></button>
                            <div class="dropdown-content">
                                <a  href="#">Sofas</a>
                                <a href="#">Tables</a>
                                <a href="#">Chairs</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn">DINING</button>
                            <div class="dropdown-content">
                                <a  href="#">Dining Tables</a>
                                <a href="#">Dining Chairs</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn">BEDROOM</button>
                            <div class="dropdown-content">
                                <a  href="#">Beds</a>
                                <a href="#">Nightstands</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <a href="http://www.naver.com">TEST</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <a href="http://www.naver.com">Community</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <ul>
                        <li>
                            <button class="dropbtn">고객센터</button>
                            <div class="dropdown-content">
                                <a  href="#">Q&A</a>
                                <a href="#">1:1 Contact US</a>
                                <a href="#">1:1 문의하기</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</header>